/* ------------------ ESTRUCTURA ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body{
  background-color: #E5E5E5;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.grid-layout {
	display: grid;
	grid-gap: 10px;
}

.item {
	display: block;
	background-color: #72CAC1;
	/*border-radius: 4px;*/
	color: #fff;
	padding: 20px;
	font-size: 20px;
}

.item-gris{
  display: block;
	background-color: #FFF;
	/*border-radius: 4px;*/
	color: #fff;
	padding: 20px;
	font-size: 20px;
}

#ejemploArea {
	grid-template-columns: 0px 15% 1fr;
	grid-template-rows: auto 600px 100px;

	grid-template-areas: 
		"aside aside header"
		"aside aside content"
		"aside aside content";
	align-items: stretch;
	justify-items: stretch;
}

#ejemploArea .item-gris.b {grid-area: header; }
#ejemploArea .item.c {grid-area: aside; }
#ejemploArea .item-gris.d {grid-area: content; }

/* --------- NAV BAR -------------------*/
.contenedor-flex{
  display: flex;
  justify-content:space-between;
  align-items: center;

}
.vacio{
  width:60% ;
  height: auto;
}

 .item-menu-mas{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FFF;
  margin-right: 20px;
}
.item-menu-buscador{
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color:  #FFF;
}
.item-menu-nombre{
  width: 200px;
  height: 20px;
  border-radius: 3px;
  background-color:  #FFF;
  margin-right: 20px;
}
.item-menu-foto{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:  #FFF;
}

/* ----------------------------*/

/* --------- SIDEBAR -------------------*/
.logo{
  background-color: #F0F2FA;
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
  margin: 0 auto;
}
.contenedor-flex-sidebar{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.item-sidebar-menu{
  width: 200px;
  height: 20px;
  border-radius: 3px;
  background-color: #F0F2FA;
  
}
.item-sidebar-icono{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:  #F0F2FA;
  margin-right: 20px;

}


/* ------------------ ANIMACION OPCIÓN A------------------ */
@keyframes animacion-div{
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

/*ejemplo uno - verde  */
.animacion-gris {
  background-color: #F0F2FA;
  background-image: linear-gradient(90deg,#F0F2FA, #F0F2FA, #F0F2FA);
  animation: animacion-div 5s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  opacity: 0;
}


/* ------------------ ANIMACION OPCIÓN B------------------ */
@keyframes progress {
  0% {
      background-position: -200px 0;
  }

  100% {
      background-position: calc(200px + 100%) 0;
  }
}

.animacion-dos {
  animation: progress 8s ease-in-out infinite;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
}



/* ---------------------- DASHBOARD -------------------------- */
.contenedor-general{
  display: flex;
  justify-content: center;
}
.contenedor-prototipo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 150px;
  background-color: #00B19D;
  margin-right: 20px;
  border-radius: 5px;
  
}
.contenedor-prototipo h2{
  color:white;
}

a{
  text-decoration: none;
}
.contenedor-prototipo:hover{
  background: #72CAC1
}
.volver{
  color:  #00B19D;
}